.header {
  background-color: #5e5e5e;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 20px; }

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #e8e7e6; }
  footer img {
    height: 30px; }

header {
  background-color: #5e5e5e;
  display: flex; }
  header img {
    width: 50px; }

body {
  background-color: #ffe6ab;
  position: relative;
  padding-bottom: 45px;
  min-height: 100vh; }

.banner {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .banner p {
    font-size: 16px;
    margin-top: 16px; }
  .banner h2 {
    font-size: 30px;
    margin-top: 8px; }
  .banner a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 4px 0px; }

.multimedia {
  margin: 15px 0px; }
  @media screen and (min-width: 1024px) {
    .multimedia h2 {
      display: flex;
      justify-content: center;
      font-size: 30px;
      margin: 10px 0px; }
    .multimedia p {
      display: flex;
      justify-content: center;
      font-size: 16px;
      margin: 15px 0px; }
    .multimedia .video {
      display: flex;
      justify-content: space-around; }
      .multimedia .video iframe {
        width: 50%;
        margin: 0px 20px; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .multimedia h2 {
      display: flex;
      justify-content: center;
      font-size: 15px;
      margin: 5px 0px; }
    .multimedia .video {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .multimedia .video iframe {
        width: 30%;
        height: 45%; } }
  @media screen and (max-width: 767px) {
    .multimedia h2 {
      display: flex;
      justify-content: center;
      font-size: 15px;
      margin: 3px 0px; }
    .multimedia .video {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .multimedia .video iframe {
        width: 50%;
        height: 50%;
        margin: 15px 0px; } }

.pages-banner {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pages-banner h1 {
    margin: 15px 0px;
    font-size: 40px;
    font-style: bold; }
  .pages-banner p {
    margin: 5px 0px;
    font-size: 16px; }

@media screen and (min-width: 1024px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .contact .form {
      display: flex;
      flex-direction: column;
      width: 50%; }
    .contact .contact-date {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .contact .contact-date a {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        text-decoration: none;
        color: black;
        margin-top: 25px;
        margin-left: 20px; }
        .contact .contact-date a img {
          display: flex;
          flex-direction: row;
          height: 30px; }
      .contact .contact-date iframe {
        width: 400px;
        height: 200px;
        margin-top: 25px;
        margin-left: 20px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .contact .form {
      display: flex;
      flex-direction: column;
      width: 40%; }
      .contact .form .mb-3 label {
        font-size: 10px; }
      .contact .form .mb-3 input {
        font-weight: 200px; }
    .contact .contact-date {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .contact .contact-date a {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        text-decoration: none;
        color: black;
        margin-top: 25px;
        margin-left: 20px; }
        .contact .contact-date a img {
          display: flex;
          flex-direction: row;
          height: 20px; }
      .contact .contact-date iframe {
        width: 300px;
        height: 100px;
        margin-top: 15px;
        margin-left: 10px; } }

@media screen and (max-width: 767px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact .form {
      display: flex;
      flex-direction: column;
      width: 90%; }
    .contact .contact-date {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 90%; }
      .contact .contact-date a {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        text-decoration: none;
        color: black;
        margin-top: 25px; }
        .contact .contact-date a img {
          display: flex;
          flex-direction: row;
          height: 30px; }
      .contact .contact-date iframe {
        width: 400px;
        height: 200px;
        margin-top: 25px; } }

.grid {
  display: grid;
  grid-template-areas: "text-1 text-1 text-1" "text-2 text-2 img-1" "img-2 img-2 none"; }

.text-1 {
  grid-area: text-1;
  display: flex;
  justify-content: center;
  margin: 20px; }

.text-2 {
  grid-area: text-2;
  margin: 20px; }

.img-1 {
  grid-area: img-1;
  margin: 20px;
  justify-content: center; }
  .img-1 img {
    width: 100%; }

.img-2 {
  grid-area: img-2;
  margin: 20px;
  justify-content: center; }
  .img-2 img {
    width: 100%; }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    display: grid;
    grid-template-areas: "text-1 text-1" "text-2 img-1" "img-2 none"; }
  .text-1 {
    grid-area: text-1;
    display: flex;
    justify-content: center;
    margin: 20px; }
  .text-2 {
    grid-area: text-2;
    margin: 20px; }
  .img-1 {
    grid-area: img-1;
    margin: 20px;
    justify-content: center; }
    .img-1 img {
      width: 100%; }
  .img-2 {
    grid-area: img-2;
    margin: 20px;
    justify-content: center; }
    .img-2 img {
      width: 100%; } }

@media screen and (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-areas: "text-1" "img-1" "text-2" "img-2"; }
  .text-1 {
    grid-area: text-1;
    display: flex;
    justify-content: center;
    margin: 20px; }
  .text-2 {
    grid-area: text-2;
    margin: 20px; }
  .img-1 {
    grid-area: img-1;
    margin: 20px;
    justify-content: center; }
    .img-1 img {
      width: 100%; }
  .img-2 {
    grid-area: img-2;
    margin: 20px;
    justify-content: center; }
    .img-2 img {
      width: 100%; } }

.grid-1 {
  display: grid;
  grid-template-areas: "title title title title" "paragraph paragraph paragraph paragraph" "card-1 card-2 card-3 card-4" "card-5 card-6 card-7 card-8" "card-9 card-10 card-11 card-12"; }

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  margin: 20px; }

.paragraph {
  grid-area: paragraph;
  display: flex;
  justify-content: center;
  margin: 20px; }

.card-1 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-1 .face-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-1 .front-1 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-1 .front-1 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-1 .back-1 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-1 .back-1 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-1:hover .front-1 {
    transform: perspective(600px) rotateY(180deg); }
  .card-1:hover .back-1 {
    transform: perspective(600px) rotateY(360deg); }

.card-2 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-2 .face-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-2 .front-2 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-2 .front-2 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-2 .back-2 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-2 .back-2 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-2:hover .front-2 {
    transform: perspective(600px) rotateY(180deg); }
  .card-2:hover .back-2 {
    transform: perspective(600px) rotateY(360deg); }

.card-3 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-3 .face-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-3 .front-3 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-3 .front-3 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-3 .back-3 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-3 .back-3 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-3:hover .front-3 {
    transform: perspective(600px) rotateY(180deg); }
  .card-3:hover .back-3 {
    transform: perspective(600px) rotateY(360deg); }

.card-4 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-4 .face-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-4 .front-4 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-4 .front-4 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-4 .back-4 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-4 .back-4 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-4:hover .front-4 {
    transform: perspective(600px) rotateY(180deg); }
  .card-4:hover .back-4 {
    transform: perspective(600px) rotateY(360deg); }

.card-5 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-5 .face-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-5 .front-5 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-5 .front-5 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-5 .back-5 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-5 .back-5 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-5:hover .front-5 {
    transform: perspective(600px) rotateY(180deg); }
  .card-5:hover .back-5 {
    transform: perspective(600px) rotateY(360deg); }

.card-6 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-6 .face-6 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-6 .front-6 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-6 .front-6 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-6 .back-6 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-6 .back-6 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-6:hover .front-6 {
    transform: perspective(600px) rotateY(180deg); }
  .card-6:hover .back-6 {
    transform: perspective(600px) rotateY(360deg); }

.card-7 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-7 .face-7 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-7 .front-7 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-7 .front-7 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-7 .back-7 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-7 .back-7 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-7:hover .front-7 {
    transform: perspective(600px) rotateY(180deg); }
  .card-7:hover .back-7 {
    transform: perspective(600px) rotateY(360deg); }

.card-8 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-8 .face-8 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-8 .front-8 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-8 .front-8 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-8 .back-8 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-8 .back-8 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-8:hover .front-8 {
    transform: perspective(600px) rotateY(180deg); }
  .card-8:hover .back-8 {
    transform: perspective(600px) rotateY(360deg); }

.card-9 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-9 .face-9 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-9 .front-9 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-9 .front-9 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-9 .back-9 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-9 .back-9 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-9:hover .front-9 {
    transform: perspective(600px) rotateY(180deg); }
  .card-9:hover .back-9 {
    transform: perspective(600px) rotateY(360deg); }

.card-10 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-10 .face-10 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-10 .front-10 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-10 .front-10 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-10 .back-10 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-10 .back-10 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-10:hover .front-10 {
    transform: perspective(600px) rotateY(180deg); }
  .card-10:hover .back-10 {
    transform: perspective(600px) rotateY(360deg); }

.card-11 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-11 .face-11 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-11 .front-11 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-11 .front-11 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-11 .back-11 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-11 .back-11 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-11:hover .front-11 {
    transform: perspective(600px) rotateY(180deg); }
  .card-11:hover .back-11 {
    transform: perspective(600px) rotateY(360deg); }

.card-12 {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center; }
  .card-12 .face-12 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .card-12 .front-12 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000; }
    .card-12 .front-12 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-12 .back-12 {
    transform: perspective(600px) rotateY(180deg);
    background: #584b13;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 10px #000000; }
    .card-12 .back-12 h4 {
      font-size: 20px;
      margin-top: 5px; }
  .card-12:hover .front-12 {
    transform: perspective(600px) rotateY(180deg); }
  .card-12:hover .back-12 {
    transform: perspective(600px) rotateY(360deg); }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-1 {
    display: grid;
    grid-template-areas: "title title title" "paragraph paragraph paragraph" "card-1 card-2 card-3" "card-4 card-5 card-6" "card-7 card-8 card-9" "card-10 card-11 card-12"; }
  .title {
    grid-area: title;
    display: flex;
    justify-content: center;
    margin: 20px; }
  .paragraph {
    grid-area: paragraph;
    display: flex;
    justify-content: center;
    margin: 20px; }
  .card-1 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-1 .face-1 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-1 .front-1 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-1 .front-1 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-1 .back-1 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-1 .back-1 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-1:hover .front-1 {
      transform: perspective(600px) rotateY(180deg); }
    .card-1:hover .back-1 {
      transform: perspective(600px) rotateY(360deg); }
  .card-2 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-2 .face-2 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-2 .front-2 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-2 .front-2 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-2 .back-2 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-2 .back-2 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-2:hover .front-2 {
      transform: perspective(600px) rotateY(180deg); }
    .card-2:hover .back-2 {
      transform: perspective(600px) rotateY(360deg); }
  .card-3 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-3 .face-3 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-3 .front-3 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-3 .front-3 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-3 .back-3 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-3 .back-3 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-3:hover .front-3 {
      transform: perspective(600px) rotateY(180deg); }
    .card-3:hover .back-3 {
      transform: perspective(600px) rotateY(360deg); }
  .card-4 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-4 .face-4 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-4 .front-4 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-4 .front-4 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-4 .back-4 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-4 .back-4 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-4:hover .front-4 {
      transform: perspective(600px) rotateY(180deg); }
    .card-4:hover .back-4 {
      transform: perspective(600px) rotateY(360deg); }
  .card-5 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-5 .face-5 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-5 .front-5 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-5 .front-5 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-5 .back-5 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-5 .back-5 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-5:hover .front-5 {
      transform: perspective(600px) rotateY(180deg); }
    .card-5:hover .back-5 {
      transform: perspective(600px) rotateY(360deg); }
  .card-6 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-6 .face-6 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-6 .front-6 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-6 .front-6 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-6 .back-6 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-6 .back-6 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-6:hover .front-6 {
      transform: perspective(600px) rotateY(180deg); }
    .card-6:hover .back-6 {
      transform: perspective(600px) rotateY(360deg); }
  .card-7 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-7 .face-7 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-7 .front-7 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-7 .front-7 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-7 .back-7 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-7 .back-7 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-7:hover .front-7 {
      transform: perspective(600px) rotateY(180deg); }
    .card-7:hover .back-7 {
      transform: perspective(600px) rotateY(360deg); }
  .card-8 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-8 .face-8 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-8 .front-8 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-8 .front-8 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-8 .back-8 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-8 .back-8 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-8:hover .front-8 {
      transform: perspective(600px) rotateY(180deg); }
    .card-8:hover .back-8 {
      transform: perspective(600px) rotateY(360deg); }
  .card-9 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-9 .face-9 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-9 .front-9 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-9 .front-9 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-9 .back-9 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-9 .back-9 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-9:hover .front-9 {
      transform: perspective(600px) rotateY(180deg); }
    .card-9:hover .back-9 {
      transform: perspective(600px) rotateY(360deg); }
  .card-10 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-10 .face-10 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-10 .front-10 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-10 .front-10 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-10 .back-10 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-10 .back-10 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-10:hover .front-10 {
      transform: perspective(600px) rotateY(180deg); }
    .card-10:hover .back-10 {
      transform: perspective(600px) rotateY(360deg); }
  .card-11 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-11 .face-11 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-11 .front-11 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-11 .front-11 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-11 .back-11 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-11 .back-11 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-11:hover .front-11 {
      transform: perspective(600px) rotateY(180deg); }
    .card-11:hover .back-11 {
      transform: perspective(600px) rotateY(360deg); }
  .card-12 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-12 .face-12 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-12 .front-12 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-12 .front-12 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-12 .back-12 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-12 .back-12 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-12:hover .front-12 {
      transform: perspective(600px) rotateY(180deg); }
    .card-12:hover .back-12 {
      transform: perspective(600px) rotateY(360deg); } }

@media screen and (max-width: 767px) {
  .grid-1 {
    display: grid;
    grid-template-areas: "title title" "paragraph paragraph" "card-1 card-2" "card-3 card-4" "card-5 card-6" "card-7 card-8" "card-9 card-10" "card-11 card-12"; }
  .title {
    grid-area: title;
    display: flex;
    justify-content: center;
    margin: 20px; }
  .paragraph {
    grid-area: paragraph;
    display: flex;
    justify-content: center;
    margin: 20px; }
  .card-1 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-1 .face-1 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-1 .front-1 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-1 .front-1 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-1 .back-1 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-1 .back-1 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-1:hover .front-1 {
      transform: perspective(600px) rotateY(180deg); }
    .card-1:hover .back-1 {
      transform: perspective(600px) rotateY(360deg); }
  .card-2 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-2 .face-2 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-2 .front-2 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-2 .front-2 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-2 .back-2 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-2 .back-2 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-2:hover .front-2 {
      transform: perspective(600px) rotateY(180deg); }
    .card-2:hover .back-2 {
      transform: perspective(600px) rotateY(360deg); }
  .card-3 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-3 .face-3 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-3 .front-3 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-3 .front-3 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-3 .back-3 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-3 .back-3 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-3:hover .front-3 {
      transform: perspective(600px) rotateY(180deg); }
    .card-3:hover .back-3 {
      transform: perspective(600px) rotateY(360deg); }
  .card-4 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-4 .face-4 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-4 .front-4 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-4 .front-4 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-4 .back-4 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-4 .back-4 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-4:hover .front-4 {
      transform: perspective(600px) rotateY(180deg); }
    .card-4:hover .back-4 {
      transform: perspective(600px) rotateY(360deg); }
  .card-5 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-5 .face-5 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-5 .front-5 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-5 .front-5 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-5 .back-5 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-5 .back-5 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-5:hover .front-5 {
      transform: perspective(600px) rotateY(180deg); }
    .card-5:hover .back-5 {
      transform: perspective(600px) rotateY(360deg); }
  .card-6 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-6 .face-6 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-6 .front-6 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-6 .front-6 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-6 .back-6 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-6 .back-6 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-6:hover .front-6 {
      transform: perspective(600px) rotateY(180deg); }
    .card-6:hover .back-6 {
      transform: perspective(600px) rotateY(360deg); }
  .card-7 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-7 .face-7 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-7 .front-7 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-7 .front-7 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-7 .back-7 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-7 .back-7 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-7:hover .front-7 {
      transform: perspective(600px) rotateY(180deg); }
    .card-7:hover .back-7 {
      transform: perspective(600px) rotateY(360deg); }
  .card-8 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-8 .face-8 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-8 .front-8 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-8 .front-8 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-8 .back-8 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-8 .back-8 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-8:hover .front-8 {
      transform: perspective(600px) rotateY(180deg); }
    .card-8:hover .back-8 {
      transform: perspective(600px) rotateY(360deg); }
  .card-9 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-9 .face-9 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-9 .front-9 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-9 .front-9 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-9 .back-9 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-9 .back-9 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-9:hover .front-9 {
      transform: perspective(600px) rotateY(180deg); }
    .card-9:hover .back-9 {
      transform: perspective(600px) rotateY(360deg); }
  .card-10 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-10 .face-10 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-10 .front-10 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-10 .front-10 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-10 .back-10 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-10 .back-10 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-10:hover .front-10 {
      transform: perspective(600px) rotateY(180deg); }
    .card-10:hover .back-10 {
      transform: perspective(600px) rotateY(360deg); }
  .card-11 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-11 .face-11 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-11 .front-11 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-11 .front-11 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-11 .back-11 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-11 .back-11 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-11:hover .front-11 {
      transform: perspective(600px) rotateY(180deg); }
    .card-11:hover .back-11 {
      transform: perspective(600px) rotateY(360deg); }
  .card-12 {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center; }
    .card-12 .face-12 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s; }
    .card-12 .front-12 {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000000; }
      .card-12 .front-12 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-12 .back-12 {
      transform: perspective(600px) rotateY(180deg);
      background: #584b13;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0 5px 10px #000000; }
      .card-12 .back-12 h4 {
        font-size: 20px;
        margin-top: 5px; }
    .card-12:hover .front-12 {
      transform: perspective(600px) rotateY(180deg); }
    .card-12:hover .back-12 {
      transform: perspective(600px) rotateY(360deg); } }

* {
  margin: 0;
  padding: 0; }

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #ffffff; }

span {
  color: #ffffff; }

.navbar-light .navbar-toggler {
  color: #ffffff;
  border: inset; }

.navbar-nav {
  align-items: flex-end; }

.fondo {
  width: 100%; }

navbar-nav {
  font-family: 'Rubik', sans-serif; }
