$color-background:#ffe6ab;
$font:'Rubik', sans-serif;
$font-color:#ffffff;
$color-header-background:#5e5e5e;
$color-footer-background:#e8e7e6;
$h1-size-desktop:40px;
$h2-size-desktop:30px;
$p-size-desktop:16px;
$a-size-desktop:20px;
$h1-size-mobile:20px;
$h2-size-mobile:15px;
$p-size-mobile:8px;
$a-size-mobile:10px;