@import "../VARIABLES/variables";

footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: $color-footer-background;
    img{
        height: 30px;
    }
}