@import "../VARIABLES/variables";

.banner{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    .call-to-action{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        font-size: $p-size-desktop;
        margin-top: 16px;
    }
    h2{
        font-size: $h2-size-desktop;
        margin-top: 8px;
    }
    a{
        font-size: $a-size-desktop;
        text-decoration: none;
        color: $font-color;
        margin: 4px 0px;
    }
}

.multimedia{
    margin: 15px 0px;
    @media screen and (min-width:1024px){
        h2{
            display: flex;
            justify-content: center;
            font-size: $h2-size-desktop;
            margin: 10px 0px;
        }
        p{
            display: flex;
            justify-content: center;
            font-size: $p-size-desktop;
            margin: 15px 0px;
        }
        .video{
            display: flex;
            justify-content: space-around;
            iframe{
                width: 50%;
                margin: 0px 20px;
            }
        }
    }
    @media screen and (min-width:768px) and (max-width:1023px){
        h2{
            display: flex;
            justify-content: center;
            font-size: $h2-size-mobile;
            margin: 5px 0px;
        }
        .video{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            iframe{
                width: 30%;
                height: 45%;
            }
        }
    }
    @media screen and (max-width:767px) {
        h2{
            display: flex;
            justify-content: center;
            font-size: $h2-size-mobile;
            margin: 3px 0px;
        }
        .video{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            iframe{
                width: 50%;
                height: 50%;
                margin: 15px 0px;
            }
        }
    }
}

.pages-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin: 15px 0px;
        font-size: $h1-size-desktop;
        font-style: bold;
    }
    p{
        margin: 5px 0px;
        font-size: $p-size-desktop;
    }
}

.contact{
    @media screen and (min-width:1024px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .form{
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        .contact-date{
            display: flex;
            flex-direction: column;
            width: 50%;
            a{
                display: flex;
                flex-direction: row;
                font-size: $a-size-desktop;
                text-decoration: none;
                color: black;
                margin-top: 25px;
                margin-left: 20px;
                img{
                    display: flex;
                    flex-direction: row;
                    height: 30px;
                }
            }
            iframe{
                width: 400px;
                height: 200px;
                margin-top: 25px;
                margin-left: 20px;
            }
        }
    }
    @media screen and (min-width:768px) and (max-width:1023px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .form{
            display: flex;
            flex-direction: column;
            width: 40%;
            .mb-3{
                label{
                    font-size: $a-size-mobile;
                }
                input{
                    font-weight: 200px;
                }
            }
        }
        .contact-date{
            display: flex;
            flex-direction: column;
            width: 50%;
            a{
                display: flex;
                flex-direction: row;
                font-size: $a-size-desktop;
                text-decoration: none;
                color: black;
                margin-top: 25px;
                margin-left: 20px;
                img{
                    display: flex;
                    flex-direction: row;
                    height: 20px;
                }
            }
            iframe{
                width: 300px;
                height: 100px;
                margin-top: 15px;
                margin-left: 10px;
            }
        }
    }
    @media screen and (max-width:767px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form{
            display: flex;
            flex-direction: column;
            width: 90%;
        }
        .contact-date{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 90%;
            a{
                display: flex;
                flex-direction: row;
                font-size: $a-size-desktop;
                text-decoration: none;
                color: black;
                margin-top: 25px;
                img{
                    display: flex;
                    flex-direction: row;
                    height: 30px;
                }
            }
            iframe{
                width: 400px;
                height: 200px;
                margin-top: 25px;
            }
        }
    }
}

.grid{
    display: grid;
    grid-template-areas:
    "text-1 text-1 text-1"
    "text-2 text-2 img-1"
    "img-2 img-2 none";
}

.text-1{
    grid-area: text-1;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.text-2{
    grid-area: text-2;
    margin: 20px;
}

.img-1{
    grid-area: img-1;
    margin: 20px;
    justify-content: center;
    img{
        width: 100%;
    }
}

.img-2{
    grid-area: img-2;
    margin: 20px;
    justify-content: center;
    img{
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .grid{
        display: grid;
        grid-template-areas:
        "text-1 text-1"
        "text-2 img-1"
        "img-2 none";
    }
    
    .text-1{
        grid-area: text-1;
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .text-2{
        grid-area: text-2;
        margin: 20px;
    }
    
    .img-1{
        grid-area: img-1;
        margin: 20px;
        justify-content: center;
        img{
            width: 100%;
        }
    }
    
    .img-2{
        grid-area: img-2;
        margin: 20px;
        justify-content: center;
        img{
            width: 100%;
        }
    }
}

@media screen and (max-width:767px) {
    .grid{
        display: grid;
        grid-template-areas:
        "text-1"
        "img-1"
        "text-2"
        "img-2";
    }
    
    .text-1{
        grid-area: text-1;
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .text-2{
        grid-area: text-2;
        margin: 20px;
    }
    
    .img-1{
        grid-area: img-1;
        margin: 20px;
        justify-content: center;
        img{
            width: 100%;
        }
    }
    
    .img-2{
        grid-area: img-2;
        margin: 20px;
        justify-content: center;
        img{
            width: 100%;
        }
    }
}

.grid-1{
    display: grid;
    grid-template-areas:
    "title title title title"
    "paragraph paragraph paragraph paragraph"
    "card-1 card-2 card-3 card-4"
    "card-5 card-6 card-7 card-8"
    "card-9 card-10 card-11 card-12";
}

.title{
    grid-area: title;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.paragraph{
    grid-area: paragraph;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card-1{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-1{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-1{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-1{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-1{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-1{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-2{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-2{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-2{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-2{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-2{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-2{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-3{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-3{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-3{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-3{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-3{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-3{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-4{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-4{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-4{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-4{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-4{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-4{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-5{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-5{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-5{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-5{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-5{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-5{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-6{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-6{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-6{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-6{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-6{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-6{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-7{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-7{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-7{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-7{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-7{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-7{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-8{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-8{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-8{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-8{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-8{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-8{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-9{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-9{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-9{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-9{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-9{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-9{
        transform: perspective(600px) rotateY(360deg);
    }
}
.card-10{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-10{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-10{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-10{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-10{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-10{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-11{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-11{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-11{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-11{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-11{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-11{
        transform: perspective(600px) rotateY(360deg);
    }
}

.card-12{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    .face-12{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front-12{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .back-12{
        transform: perspective(600px) rotateY(180deg);
        background: #584b13;
        padding: 15px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0 5px 10px #000000;
        h4{
            font-size: 20px;
            margin-top: 5px;
        }
    }
    &:hover .front-12{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back-12{
        transform: perspective(600px) rotateY(360deg);
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .grid-1{
        display: grid;
        grid-template-areas:
        "title title title"
        "paragraph paragraph paragraph"
        "card-1 card-2 card-3"
        "card-4 card-5 card-6"
        "card-7 card-8 card-9"
        "card-10 card-11 card-12";
    }
    
    .title{
        grid-area: title;
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .paragraph{
        grid-area: paragraph;
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .card-1{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-1{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-1{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-1{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-1{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-1{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-2{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-2{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-2{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-2{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-2{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-2{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-3{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-3{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-3{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-3{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-3{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-3{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-4{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-4{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-4{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-4{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-4{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-4{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-5{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-5{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-5{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-5{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-5{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-5{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-6{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-6{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-6{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-6{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-6{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-6{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-7{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-7{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-7{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-7{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-7{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-7{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-8{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-8{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-8{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-8{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-8{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-8{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-9{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-9{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-9{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-9{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-9{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-9{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    .card-10{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-10{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-10{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-10{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-10{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-10{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-11{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-11{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-11{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-11{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-11{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-11{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-12{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-12{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-12{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-12{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-12{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-12{
            transform: perspective(600px) rotateY(360deg);
        }
    }
}

@media screen and (max-width:767px){
    .grid-1{
        display: grid;
        grid-template-areas:
        "title title"
        "paragraph paragraph"
        "card-1 card-2"
        "card-3 card-4"
        "card-5 card-6"
        "card-7 card-8"
        "card-9 card-10"
        "card-11 card-12";
    }
    
    .title{
        grid-area: title;
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .paragraph{
        grid-area: paragraph;
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .card-1{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-1{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-1{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-1{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-1{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-1{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-2{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-2{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-2{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-2{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-2{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-2{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-3{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-3{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-3{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-3{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-3{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-3{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-4{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-4{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-4{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-4{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-4{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-4{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-5{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-5{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-5{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-5{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-5{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-5{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-6{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-6{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-6{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-6{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-6{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-6{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-7{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-7{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-7{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-7{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-7{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-7{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-8{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-8{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-8{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-8{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-8{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-8{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-9{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-9{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-9{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-9{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-9{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-9{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    .card-10{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-10{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-10{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-10{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-10{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-10{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-11{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-11{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-11{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-11{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-11{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-11{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    
    .card-12{
        position: relative;
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .face-12{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        .front-12{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000000;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .back-12{
            transform: perspective(600px) rotateY(180deg);
            background: #584b13;
            padding: 15px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 5px 10px #000000;
            h4{
                font-size: 20px;
                margin-top: 5px;
            }
        }
        &:hover .front-12{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back-12{
            transform: perspective(600px) rotateY(360deg);
        }
    }
}